<p id="notice"><%= notice %></p>

<h2><%= @merchant.name %>'s Openings</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End Time</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @openings.each do |opening| %>
      <tr>
        <td><%= opening.start_time %></td>
        <td><%= opening.endtime %></td>
        <td><%= opening.status %></td>
        <td><%= link_to 'Show', merchant_opening_path(@merchant, opening) %></td>
        <td><%= link_to 'Edit', edit_merchant_opening_path(@merchant,opening) %></td>
        <td><%= link_to 'Destroy', merchant_opening_path(@merchant, opening), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opening', new_merchant_opening_path(@merchant) %>
