<p id="notice"><%= notice %></p>

<p>
  <strong>Merchant:</strong>
  <%= @opening.merchant_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @opening.start_time %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @opening.endtime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @opening.status %>
</p>

<%= link_to 'Edit', edit_opening_path(@opening) %> |
<%= link_to 'Back', openings_path %>
