<p id="notice"><%= notice %></p>

<h2>Specializations</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @specializations.each do |specialization| %>
      <tr>
        <td><%= specialization.name %></td>
        <td><%= link_to 'Show', specialization %></td>
        <td><%= link_to 'Edit', edit_specialization_path(specialization) %></td>
        <td><%= link_to 'Destroy', specialization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Specialization', new_specialization_path %>
