<%= form_for(@merchant) do |f| %>
  <% if @merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

      <ul>
      <% @merchant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :review_count %><br>
    <%= f.number_field :review_count %>
  </div>
  <div class="field">
    <%= f.label :avg_rating %><br>
    <%= f.text_field :avg_rating %>
  </div>
    <div class="field">
      <%= f.label :specialization %><br>
      <%= f.select :specialization, options_for_select(Specialization.all.map(&:name), Specialization.all.map(&:id)), { :prompt => "Please Select"},{ :multiple => true, :size => 5 } %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
