<div>Merchants</div>

<% @merchants.each do |merchant| %>
    <div class="well" style="height:70px;">
        <div class="span5" >
          <%= merchant.name %><br/>
          <%= merchant.price %><br/>
          <%= merchant.about %><br/>
          Specializations - <%= merchant.specializations.map(&:name).join(',') %>
        </div>
        <div class="span3" >
          <% merchant.openings.each do |opening| %>
              <%= opening.start_time.strftime("%d %b %H:%M") %> -
              <%= opening.endtime.strftime("%d %b %H:%M") %><br/>
          <% end %>
        </div>
    </div>
<% end %>