<div class="row">
    <div style="text-align: right;">
      <%= form_tag search_path, method: :get, :remote => true do %>
          <p>
            <%= text_field_tag :q, params[:q] %>
            <%= submit_tag "Search"  %>
          </p>
      <% end %>
    </div>
    <hr/>

    <div class="span10" id="merchant_list">
      <%= render 'merchant_list' %>
    </div>
</div>