<p id="notice"><%= notice %></p>

<h2>Merchants</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>About</th>
      <th>Gender</th>
      <th>Price</th>
      <th>Review count</th>
      <th>Avg rating</th>
      <th>Specializations</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td><%= merchant.email %></td>
        <td><%= merchant.status %></td>
        <td><%= merchant.about %></td>
        <td><%= merchant.gender %></td>
        <td><%= merchant.price %></td>
        <td><%= merchant.review_count %></td>
        <td><%= merchant.avg_rating %></td>
        <td><%= merchant.specializations.map(&:name).join(',') %></td>
        <td><%= link_to 'Openings', merchant_openings_path(merchant) %></td>
        <td><%= link_to 'Show', merchant %></td>
        <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
        <td><%= link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merchant', new_merchant_path %>
