<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @merchant.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @merchant.status %>
</p>

<p>
  <strong>About:</strong>
  <%= @merchant.about %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @merchant.gender %>
</p>

<p>
  <strong>Price:</strong>
  <%= @merchant.price %>
</p>

<p>
  <strong>Review count:</strong>
  <%= @merchant.review_count %>
</p>

<p>
  <strong>Avg rating:</strong>
  <%= @merchant.avg_rating %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
